.cover{
    background-color: rgb(158, 18, 18);
}
h1{
    font-weight: bold;
    font-size: 80px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 50px;

}
h5{
    color: whitesmoke;
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    padding-bottom: 30px;
}
.image{
    background-image: url(./img/Bestman\ Nwanaka\ -\ 1.jpg),url(./img/tribute-page-main-image.jpg);
    background-color: rgb(77, 2, 2);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding: 10px;
    margin: 20px;
}
p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.list{
    text-align: left;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    margin:30px 400px; 
    
}
.show{
    color: white;
    text-align: center;
    justify-content: center;
    margin: 30px 400px;
}